*,body{
    padding: 0;
    margin: 0;
  }

html,body{
    height: 100%;
  }

/* dialog、comfirm遮罩样式修改 */
.v-modal {
    opacity: 1;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255,0.1)
}
.el-message-box{
  border-radius: 8px;
}